@model Ufostranky.Models.Guestbook

@if (!User.Identity.IsAuthenticated) { 
<div>
    @Html.LabelFor(model => model.Author)
    <div>
        @Html.EditorFor(model => model.Author)
        @Html.ValidationMessageFor(model => model.Author, "")
    </div>
</div>
}

<div>
    @Html.LabelFor(model => model.Text)
    <div>
        @Html.TextAreaFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text)
    </div>
</div>

<div>
    <div>
        <button type="submit">Přidej svůj výblitek</button>
    </div>
</div>




