@model Ufostranky.Models.SquareShit

@{
    ViewBag.Title = "HraCoNevimJakSeJmenuje";
}

<div id="mainSquareShit">

    @for (byte i = 0; i < 15; ++i )
    {
        <div class="field @Model.Positions[i]" data-field="@Model.Positions[i]">@Model.Numbers[i]</div>
    }

    <table>
        @for (byte i = 1; i < 5; ++i )
        {
            <tr>
            @for(byte j = 1; j < 5; ++j)
            {
                string c = "square";
                if (Model.EmptyCoords[0] == i && Model.EmptyCoords[1] == j)
                {
                    c += " empty";                        
                }
                <td id="c-@i-@j" class="@c"></td>
            }
            </tr>
        }
    </table>
</div>
    <fieldset id="settings">
        <legend><img id="settingsWheel" src="~/Images/ozub.png" alt="Settings" width="40" height="40" /></legend>
        <label class="hideable" for="speedInput">Rychlost pohybu dlaždic: </label>
        <input id="speedInput" class="hideable" type="number" value="250" />
        <span class="hideable">ms</span>
    </fieldset>
@section Scripts{
    @Scripts.Render("~/Scripts/squareStuff.js")
}

@section Styles {
    @Styles.Render("~/Content/squareStuff.css")
}