<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon.ico")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
</head>
<body>
    <section id="mainSection">
        <nav id="mainMenu">
            <ul>
                <li>
                    <div id="home" class="menuDiv">
                        <span id="spanInHome" class="menuSpan">
                            @Html.ActionLink("Home", "Index", "Home")
                        </span>
                    </div>
                </li>
                <li>
                    <div class="relative">
                        <div id="guestbook" class="menuDiv">
                            <span id="spanInGuestDiv" class="menuSpan">
                                @Html.ActionLink("Guestbook", "Index", "Guestbook", null, htmlAttributes: new { @class = "center" })
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="squaresAndShit" class="menuDiv">
                        @for (byte i = 1; i <= 15; ++i)
                        {
                            string id = "s" + i;
                            <div id="@id" class="absoluteSquare"></div>
                        }

                        @Html.ActionLink(" ", "Index", "SquareStuff", null, htmlAttributes: new { @id = "linkSq" })
                    </div>
                </li>
            </ul>
        </nav>

        <div id="clearer"></div>
        <section id="content">
            @RenderBody()
        </section>
    </section>

    <footer id="mainFooter">
        <p>&copy; @DateTime.Now.Year - PHP používají divoši</p>
    </footer> 
    @Scripts.Render("~/bundles/everypage")
    @RenderSection("scripts", required: false)
</body>
</html>
