<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon.ico")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
</head>
<body>
    <section id="mainSection">
        <nav id="mainMenu">
            <ul>
                <li>
                    <div id="home" class="menuDiv">
                        <span id="spanInHome" class="menuSpan">
                            @Html.ActionLink("Home", "Index", "Home")
                        </span>
                    </div>
                </li>
                <li>
                    <div class="relative">
                        <div id="guestbook" class="menuDiv">
                            <span id="spanInGuestDiv" class="menuSpan">
                                @Html.ActionLink("Guestbook", "Index", "Guestbook", null, htmlAttributes: new { @class = "center" })
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="squaresAndShit" class="menuDiv">
                        <div id="s1" class="absoluteSquare"></div>
                        <div id="s2" class="absoluteSquare"></div>
                        <div id="s3" class="absoluteSquare"></div>

                        <div id="s4" class="absoluteSquare"></div>
                        <div id="s5" class="absoluteSquare"></div>
                        <div id="s6" class="absoluteSquare"></div>
                        <div id="s7" class="absoluteSquare"></div>                    
                                                
                        <div id="s8" class="absoluteSquare"></div> 
                        <div id="s9" class="absoluteSquare"></div>   
                        <div id="s10" class="absoluteSquare"></div>
                        <div id="s11" class="absoluteSquare"></div>

                        <div id="s12" class="absoluteSquare"></div>
                        <div id="s13" class="absoluteSquare"></div>         
                        <div id="s14" class="absoluteSquare"></div>
                        <div id="s15" class="absoluteSquare"></div>
                        
                        @Html.ActionLink(" ", "Index", "SquareStuff", null, htmlAttributes: new { @id = "linkSq" })
                    </div>
                </li>
                <li>
                    <div class="menuDiv"></div>
                </li>
                <li>
                    <div class="menuDiv"></div>
                </li>
                <li>
                    <div class="menuDiv"></div>
                </li>
            </ul>
        </nav>
        <div id="clearer"></div>
        <section id="content">
            @RenderBody()
        </section>
    </section>

    <footer id="mainFooter">
        <p>&copy; @DateTime.Now.Year - PHP používají divoši</p>
    </footer> 
    @Scripts.Render("~/bundles/everypage")
    @RenderSection("scripts", required: false)
</body>
</html>
